<div id="<%= dom_id work_process %>">
  <div>
    <strong>Project:</strong>
    <%= work_process.project_id %>
  </div>

  <div>
    <strong>Process name:</strong>
    <%= work_process.process_name %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= work_process.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= work_process.end_date %>
  </div>

  <div>
    <strong>Contractor name:</strong>
    <%= work_process.contractor_name %>
  </div>

  <div>
    <strong>Material cost:</strong>
    <%= work_process.material_cost %>
  </div>

  <div>
    <strong>Labor cost:</strong>
    <%= work_process.labor_cost %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= work_process.memo %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= work_process.status %>
  </div>

</div>
