<div id="<%= dom_id project %>">
  <div>
    <strong>Project name:</strong>
    <%= project.project_name %>
  </div>

  <div>
    <strong>Client name:</strong>
    <%= project.client_name %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= project.address %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= project.end_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= project.status %>
  </div>

  <div>
    <strong>Color:</strong>
    <%= project.color %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= project.memo %>
  </div>

</div>
